{% extends '../base.html' %}
{% block title%} Feed {% endblock %}
{% block content %}

<p><a href="{% url 'main:profile' user %}">My profile</a></p>
{% for post in posts %}
    <div class="post">
        <div class="post_creator_info">
            <p>
                <img src="/media/{{ post.post_creator_avatar }}" width="50" height="50" alt="">
                <a href="{% url 'main:profile' post.post_creator %}">{{ post.post_creator }}</a>
            </p>

        </div>
            <p>{{ post.post_content }}</p>
        <span>{{ post.created_at }}</span>
            <div class="post_img">
                {% for media in post.media %}
                <img src="/media/{{ media }}" width="300" height="300" alt="">
                {% endfor %}
            </div>
                {% for post_tag in post.tags %}
            <span class="tags">#{{ post_tag }}</span>
                {% endfor %}
            <form action="{% url 'main:like_post' post.post_pk %}" method="post">
                    {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                {% if post.is_liked %}
                    <p><button type="submit">Unlike</button> {{ post.likes }} Likes</p>
                {% else %}
                    <p><button type="submit">Like</button> {{ post.likes }} Likes</p>
                {% endif %}
            </form>
            <form action="{% url 'main:bookmark_post' post.post_pk %}" method="post">
                    {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                {% if post.is_bookmark %}
                    <p><button type="submit">Bookmark</button> </p>
                {% else %}
                    <p><button type="submit">Remove bookmark</button> </p>
                {% endif %}
            </form>
        </div>

{% endfor %}

{% endblock %}