{% extends '../base.html' %}
{% block content %}
    <div class="user_information">
        <p><img src="/media/{{ avatar_src }}" alt="avatar" width="200" height="200"></p>
        <p>{{ user.username }}</p>
        <p>{{ user.first_name }} {{ user.last_name }}</p>
        <p>{{ user.bio }}</p>
        <p><a href="{% url 'main:followers_following' user.username 'followers' %}">Followers {{ followers_count }}</a></p>
        <p><a href="{% url 'main:followers_following' user.username 'following' %}">Following {{ following_count }}</a></p>

        {% if is_my_profile %}
        <p><a href="{% url 'main:feed' %}">Feed</a></p>
        <p><a href="{% url 'main:profile_setting' %}">Settings</a>  <a href="{% url 'main:logout' %}">Logout</a></p>

        <h2>Add new post</h2>
        <form action="{% url 'main:new_post' %}" method="post" enctype="multipart/form-data">
            <label>Load post photo <input type="file"  name="media" accept=".png, .jpg, .jpeg" required multiple></label>
            <p>
                <label>Add describe for post
                    <textarea name="content"></textarea>
                </label>
            </p>
            <p>
                <label>Add tags for post
                    <textarea name="tags"></textarea>
                </label>
            </p>
            {% csrf_token %}
            <p><button type="submit">add post</button></p>
        </form>
        {% else %}
        <p><a href="{% url 'main:profile' login_user_username %}">My profile</a></p>
        {% endif %}
        <h2>Posts</h2>
        {% for post in posts %}
        <div class="post">
            <p>{{ post.post_content }}</p>
            <span>{{ post.created_at }}</span>
            <div class="post_img">
                {% for media in post.media %}
                <img src="/media/{{ media }}" width="300" height="300" alt="">
                {% endfor %}
            </div>
                {% for post_tag in post.tags %}
            <span class="tags">{{ post_tag }}</span>
                {% endfor %}
            <form action="{% url 'main:like_post' post.post_pk %}" method="post">
                    {% csrf_token %}
                {% if post.is_liked %}
                    <p><button type="submit">Unlike</button> {{ post.likes }} Likes</p>
                {% else %}
                    <p><button type="submit">Like</button> {{ post.likes }} Likes</p>
                {% endif %}
            </form>
            <form action="{% url 'main:bookmark_post' post.post_pk %}" method="post">
                    {% csrf_token %}
                {% if post.is_bookmark %}
                    <p><button type="submit">Bookmark</button> </p>
                {% else %}
                    <p><button type="submit">Remove bookmark</button> </p>
                {% endif %}
            </form>
        </div>

        {% endfor %}
    </div>
{% endblock %}